

.map-wrapper {
    width: calc(100vh - 100px);
    height: calc(100vh - 220px); /* remove bottom nav height */
    border-radius: 16px;
    overflow: hidden;
    background: #eaeaea;
    box-shadow: 0px 0px 10px #0002;
}

.map-container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
}

.eta-box {
    position: absolute;
    top: 12px;
    left: 12px;
    background: rgba(255, 255, 255, 0.95);
    padding: 10px 14px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    font-size: 14px;
    z-index: 9999;
    font-weight: 600;
}
